




<footer class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p style="text-align: center">All rights goes to the blog

        </p>
    </div>
</footer>

</body>
</html>
